{% extends "myapp/base.html" %}

{% load compress %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block main-content %}
<body class="">
    
    <h1 class="text-green-600 text-3xl">This is Index.html</h1>
    <p class="text-purple-700 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci ullam saepe, reiciendis tempore in nostrum totam! Vero ea neque, possimus impedit saepe nesciunt placeat voluptatum quia quam eaque consequuntur accusantium!</p>

</body>

{% endblock main-content %} 